.error-msg {

    color: red;
    text-align: center;

}
.success-msg {

    color: green;
    text-align: center;

}

.row.gutter-0 {
    margin: 0;
}

.btn-logout {
    border: none;
    background-color: #fff;
    color: rgba(0, 0, 0, 0.55);
}
